@page "{id:int?}"
@model Web2023Razor.Pages.Guests.DeleteModel

@{
    ViewData["Title"] = "Удалить гостя";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить позицию?</h3>
<div>
    <h4>Гость</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Fio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Fio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.DateArrive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.DateArrive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.DateDepart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.DateDepart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.ApartmentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.ApartmentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.HealthProgName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.HealthProgName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Guest.IdG" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
