@page 
@model Web2023Razor.Pages.Guests.IndexModel

@{
    ViewData["Title"] = "Гости";
}

<h1>Гости</h1>

<p>
    <a asp-page="Create">Добавить гостя</a>
</p>

<form>
    <p>
        Фильтр по номерам:
        <select asp-for="ApartmentNumbers" asp-items="Model.ApartmentNumbers"><option value="">All</option></select>

        ФИО: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Найти" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].Fio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].DateArrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].DateDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].ApartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest[0].HealthProgName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Guest)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateArrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthProgName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdG">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.IdG">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdG">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
